.displayAfter750px {
    display: block;
}

.displayBefore750px {
    display: none;
}

@media only screen and (max-width:750px) {
    .displayBefore750px {
        display: block;
    }

    .displayAfter750px {
        display: none;
    }

    .imgInfo750px {
        border: 2px solid rgb(255, 255, 255);
        width: 100%;
        border-radius: 8px;
        background-color: #ffffffe5;
    }


}

.imgInfo {
    border: 2px solid rgb(255, 255, 255);
    position: absolute;
    margin-top: 15vh;
    margin-left: 10px;
    width: max-content;
    min-width: 320px;
    min-height: 150px;
    max-width: 565px;
    border-radius: 8px;
    background-color: #ffffffe5;
}

button:focus {
    border: 0px;
}

.logos {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logos img {
    width: 70%;
    aspect-ratio: 4/3;
    object-fit: contain;
    /* mix-blend-mode:color-burn; */
    display: flex;
}

/* Base 5 */
.insightCol {
    cursor: pointer;
}

.webinarButton {
    position: absolute;
    background-color: #F15A22;
    color: white;
    font-weight: 600;
}

.insightCol:hover .webinarButton {
    background-color: rgb(2, 2, 41);
    color: white;
}

.webinarNames {
    display: flex;
    position: relative;
    background-color: rgba(0, 0, 0, 0.664);
    width: -webkit-fill-available;
    margin-top: -70px;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s ease-in !important;
    opacity: 0;
}

.insightCol,
.webinarNames {
    border: #f1592200 1px solid;
    transition: .3s ease-in-out;
}

.insightCol:hover,
.insightCol:hover .webinarNames {
    opacity: 1;
    border: #F15A22 1px solid;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.281);
}

.insightCol img {
    height: 25vh;
    width: 100%;
    min-height: 250px;
    min-width: 250px;
    object-fit: cover;
}

.supportiveDiv:hover {
    max-width: max-content;
}

.subscribeButton:hover {
    background-color: rgb(30, 114, 211);
}

.slider-container {
  overflow: hidden;
  width: 100%;
}

.keyPartnersImage {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.keyPartnersImage > div {
  flex: 0 0 50%;
  max-width: 50%;
}

.keyPartnersImage img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.imageChangerButtons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.prev,
.next {
  position: relative;
}

