.nav-link {
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    transition: .3s ease-in-out;
    font-weight: 600;
    font-size: 14px;
    width: fit-content;
}

.nav-link:hover {
    border-bottom: 2px solid #007BB6;
    color: #007BB6;
}

.nav-link:active {
    border-bottom: 2px solid black;
    background: #007BB6;
    color: white;
}

.nav-link a:active {
    border-bottom: 2px solid black;
    background: #007BB6;
    color: white;
}

.setWidth1000px {
    display: flex;
    align-items: center;
}

@media only screen and (max-width:1000px) {
    .setWidth1000px {
        display: block;
    }
}


.formButton {
    color: #B3E6FF;
    border: 2px solid;
    font-size: 1.2em;
    letter-spacing: 2px;
}

.formButton:hover {
    background-color: #0B7CAC;
    color: #B3E6FF;
}