.aboutbase1 {
    background: linear-gradient(to right, black, rgb(53, 52, 52), white);
}

.btnNormal {
    border: 5px solid #f1592200;
    cursor: pointer;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    color: white;
}

.btnActive {
    border: 5px solid #f15922;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    color: white;
    cursor: pointer;
    transition: .3s ease-in-out;
}

button:focus {
    border: 5px solid #F15A22;
    outline: none;
}

button:active {
    background-color: transparent;
    border: none;
}


.showOnHover1,
.showOnHover2,
.showOnHover3,
.showOnHover4 {
    position: relative;
    opacity: 0;
    display: none;
    top: -550px;
    z-index: 0;
}

.showHoverDiv4:hover .showOnHover4,
.showHoverDiv3:hover .showOnHover3,
.showHoverDiv2:hover .showOnHover2,
.showHoverDiv1:hover .showOnHover1 {
    transition: 1s ease-in-out;
    display: block;
    animation: identifier 0.4s linear;
    top: 10px;
    opacity: 1;
    height: max-content;
}

@keyframes identifier {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.timeline-slider-container {
    position: relative;
    width: 80%;
    margin: 2rem auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    height: 500px;
}

.navigation-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 200;
}

button.prev,
button.next {
    z-index: 1000;
    background-color: #034EA2;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 50px;
    height: 50px;
    width: 50px;
}

button.disabled {
    background-color: #001ab5a6;
    cursor: not-allowed;
}

.timeline-slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
    position: relative;
    width: 100%;
    justify-content: center;
}

.timeline-item {
    flex: 0 0 300px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease-in-out;
}

.timeline-item.inactive {
    opacity: 0.5;
    transform: scale(0.8);
    transition: transform 0.5s ease;
    margin: 0 20px;
}

.timeline-item.active {
    transform: scale(1.2);
    opacity: 1;
    transition: transform 0.5s ease;
    z-index: 10;
}

.milestone-content.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.milestone-content.inactive h3 {
    font-size: 1.2rem;
}

.milestone-content.inactive p {
    font-size: 0.9rem;
}

.partner-logo-large {
    width: 250px;
    height: auto;
    margin: 20px 50px;
}

.partner-logo-small {
    width: 80px;
    height: auto;
}

.milestone-info {
    font-weight: bold;
}

.partners {
    margin-top: 10px;
    font-size: 1.1rem;
    font-weight: normal;
}

.hoverImageForDescriptionInnerDiv {
    backdrop-filter: blur(50px);
    /* background-color: red; */
    color: white;
    position: relative;
    margin-top: -127px;
    max-width: 350px;
    width: min-content;
    transition: .1s ease-in-out;
}

.hoverImageForDescriptionInnerDiv:hover {
    margin-top: -170px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 170px;
    cursor: pointer;
}

.Image {
    cursor: pointer;
    border-radius: 20px;
}

.Image:hover .hoverImageForDescriptionInnerDiv {
    margin-top: -170px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 170px;
    cursor: pointer;
}

.linkedIn {
    position: absolute;
    margin-top: 16px;
    margin-left: 16px;
    filter: invert(0);
    z-index: 300;
    transform: scale(2);
    color: #034EA2;
}

.hoverImageForDescriptionInnerDiv {
    height: 127px;
}